*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display:inline-block;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

footer{
    background-color: #101C21;
    background-size: 100%;
    padding-top: 40px;
}

.footer_links{
    display: flex;
    margin-top: 30px;
}

.footer_input{
    margin-left: auto;
}

.footer_demo .demo_title{
    font-size: 18px;
    color: #878D90;
}

.demo_text{
    color: #CFD2D3;
    margin-top: 20px;
    font-size: 18px;
}
.demo_subtext{
    font-size: 18px;
    color: white;
    margin-top:0px;
}

.input_list
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_input{
    width: 40%;
}

.input_item{
    display: flex;
    flex-direction: column;
}

.input_item .input_title{
    color: #878D90;
    font-size: 18px;
}

.input_link{
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.footer_signup{
    font-size: 20px;
    color: white;
    margin: 40px 0;
}

.footer_box{
    display: flex;
    align-items: center;
}

.footer_box input{
    padding: 20px 30px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer_box input::placeholder{
    font-size: 20px;
    border: none;
    outline: none;
}

.footer_box a{
    background-color: #283337;
    padding: 20px 30px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin-left: 30px;
}

.footer_img img{
    margin-left: 40px;
}

.footer_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demo_link{
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    background-color: #283337;
    border-radius:30px;
    margin-top: 50px;
}

.footer_item{
    display: flex;
    align-items: center;
    color: white;
    margin-top: 50px;
}

.footer_item_text{
    color:#9FA4A6;
     margin-left: 20px;
     cursor: pointer;
}


@media(max-width:1160px){
    .container{
        width: 1040px;
    }
}


@media(max-width:1060px){
    .container{
        width: 940px;
    }
 
 

}


@media(max-width:960px){
    .container{
        width: 840px;
    }
}


@media(max-width:860px){
    .container{
        width: 740px;
    }

    .footer_input{
        width: 50%;
    }
}


@media(max-width:760px){
    .container{
        width: 640px;
    }

    .demo_link{
        padding: 10px 20px;
        font-size: 20px;
        color: white;
        background-color: #283337;
        border-radius:30px;
        margin-top: 50px;
    }

    .footer_box input{
        padding: 10px 20px;
        width: 70%;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    .footer_box a{
        background-color: #283337;
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
        font-size: 20px;
        margin-left: 30px;
    }

    .footer_input{
        width: 55%;
    }
}


@media(max-width:660px){
    .container{
        width: 540px;
    }
}


@media(max-width:560px){
    .container{
        width: 440px;
    }

    .footer_links .footer_demo{
         display: flex !important;
        width: 100% !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
    }
}


@media(max-width:460px){
    .container{
        width: 340px;
    }

}


@media(max-width:360px){
    .container{
        width:100%;
    }
}